.file {
    font-family: monospace;
}

h1.file {
    text-align: center;
}

pre code {
    width: 80em;
    margin: auto;
    border-left: dashed 1px grey;
    overflow: visible;
}

ul.file > li a {
    color: grey;
    text-decoration: none;
}

ul.file > li a:hover, ul.file > li a:active {
    text-decoration: underline;
}
